<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>
      <%= typeof title !== 'undefined' ? title : 'Inicio' %> | Superhéroes
    </title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav>
      <a href="/api">Inicio</a>
      <a href="/api/heroes">Lista de Superhéroes</a>
      <a href="/api/heroes/agregar">Agregar Superhéroe</a>
    </nav>

    <!-- Contenido -->
    <main><%- body %></main>

    <!-- Footer -->
    <footer>
      <p>
        © <%= new Date().getFullYear() %> / Creador:Leandro Canclini / SuperApp
      </p>
    </footer>
  </body>
</html>
