<footer
  style="
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #f1f1f1;
  "
>
  <p>
    &copy; <%= new Date().getFullYear() %> Leandro Canclini. Todos los derechos
    reservados.
  </p>
  <p>
    Contacto:
    <a
      href="mailto:cancliniprogramming@gmail.com?subject=Contacto&body=Hola, quiero más información."
      >Enviar correo</a
    >
    | Tel: (+54) 3834349886
  </p>
</footer>
